@keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    50% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(0px);
    }
  }
  
  .username {
    animation: fadeInOut 3s ease-in-out infinite;
  }
  